<div id="contenitore_principale">

  <div>
    

    <label>Button Apps</label>
    <button (click)="onClick1()">Button1</button>
    <button (click)="onClick2()">Button2</button>
    <button (click)="onClick3()">Button3</button>
    <button (click)="onClick4()">Button4</button>

  </div>

  <br>
  <hr>


  
    <h2>Componente History</h2>

    <p>Ultimo bottone premuto {{ultimo}}</p>

  <div class="aggiungere">
    <p *ngFor="let item of list; index as i" class="elem-risultato">
      {{i}}- {{item}}
    </p>
  </div>

</div>